<h2>Listing friendships</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @friendships.each do |friendship| %>
      <tr>
        <td><%= friendship.friend.name %></td>
        <td><%= friendship.created_at %></td>
        <td><%= friendship.updated_at %></td>
        <td>[ <%= link_to 'Destroy', friendship, method: :delete,
          data: { confirm: 'Are you sure?' } %> ]</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Friend', users_path %>
